 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Result driven DevOps, Data Analyst and Data Engineer with 10+ Years of expertise in extensive range of responsibilities in Clinical Trials and Media, FinTech business domains. Designing Project Phases to Deployment, Estimation of Time VS Cost factors, mining data, improving data collection techniques, processing data for ad-hoc analyses.</p>
                </div>
                <div class="col-lg-4">
                    <p>In Depth understanding of algorithms and statistics with Programming excellence in the SQL, Python, Spark, R and C and DevOps on AWS, Azure and Terraform. IM me to test the QaaS Beta Platform </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
<!--                     <a href="https://datascience4life.science:8000" class="btn btn-lg btn-outline"> -->
                        <a href="https://54.193.110.249:8000" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> QaaS Beta Platform
                    </a>
                </div>
            </div>
        </div>
    </section>
